In [1]:
from datetime import datetime
import pandas as pd

from diive.core.io.files import load_parquet, save_parquet
from diive.pkgs.gapfilling.xgboost_ts import XGBoostTS

In [2]:
df = load_parquet(filepath="17.3_CH-CHA_meteo10_2005-2024.parquet")
df

Loaded .parquet file 17.3_CH-CHA_meteo10_2005-2024.parquet (0.079 seconds).
    --> Detected time resolution of <30 * Minutes> / 30min

                     LW_IN_T1_2_1  PA_GF1_0.9_1  FLAG_PA_GF1_0.9_1_ISFILLED  PPFD_IN_T1_2_2  FLAG_PPFD_IN_T1_2_2_ISFILLED  VPD_T1_2_1  ...  TS_GF1_0.04_1_gfXG  FLAG_TS_GF1_0.04_1_gfXG_ISFILLED  TS_GF1_0.15_1_gfXG  FLAG_TS_GF1_0.15_1_gfXG_ISFILLED  TS_GF1_0.4_1_gfXG  FLAG_TS_GF1_0.4_1_gfXG_ISFILLED
TIMESTAMP_MIDDLE                                                                                                                       ...
2005-01-01 00:15:00           NaN    978.100000                         1.0             0.0                             0    0.099893  ...            1.014525                                 1            2.907254                                 1           4.007686                                1
2005-01-01 00:45:00           NaN    977.933333                         1.0             0.0                             0    0.097606  ...            1.029936                                 1            2.907254                                 1           4.007686                                1
2005-01-01 01:15:00           NaN    977.900000                         1.0             0.0                             0    0.091683  ...            1.003078                                 1            2.903765                                 1           4.077782                                1
2005-01-01 01:45:00           NaN    977.833333                         1.0             0.0                             0    0.071157  ...            1.056877                                 1            2.903765                                 1           4.077782                                1
2005-01-01 02:15:00           NaN    977.833333                         1.0             0.0                             0    0.058333  ...            0.963062                                 1            2.932330                                 1           3.979915                                1
...                           ...           ...                         ...             ...                           ...         ...  ...                 ...                               ...                 ...                               ...                ...                              ...
2024-12-31 21:45:00    304.613900    983.370890                         NaN             0.0                             0    0.000011  ...            3.474346                                 0            4.437078                                 0           5.528727                                0
2024-12-31 22:15:00    303.039890    983.052160                         NaN             0.0                             0    0.000011  ...            3.428224                                 0            4.440415                                 0           5.521962                                0
2024-12-31 22:45:00    302.093633    982.851140                         NaN             0.0                             0    0.000011  ...            3.384733                                 0            4.443751                                 0           5.523991                                0
2024-12-31 23:15:00    302.217307    982.896827                         NaN             0.0                             0    0.000010  ...            3.349179                                 0            4.439747                                 0           5.528050                                0
2024-12-31 23:45:00    298.392973    982.856613                         NaN             0.0                             0    0.000010  ...            3.316919                                 0            4.442417                                 0           5.523991                                0

[350640 rows x 29 columns]

In [15]:
df['YEAR'] = df.index.year
r = df['TA_T1_2_1'].groupby(df['YEAR']).agg(['mean', 'min', 'max'])
r

           mean        min        max
YEAR
2005   9.500346 -14.333333  32.566667
2006   9.510808 -10.363000  33.653999
2007  10.020665 -11.956000  35.029999
2008   9.509768  -9.541500  33.056999
2009   9.768376 -16.058001  34.727001
2010   8.602752 -15.564000  34.483002
2011   9.961233 -18.246000  33.834999
2012   9.500586 -16.754999  33.275002
2013   8.972617 -12.086000  36.002998
2014  10.243456 -13.074000  34.783001
2015  10.214341 -11.209000  35.898998
2016   9.959387 -13.580000  32.855451
2017  10.158153 -14.896944  34.692493
2018  11.020365 -12.208515  35.257101
2019  10.336325  -9.564612  36.348891
2020  10.566112  -6.310981  34.093308
2021   9.480925 -14.049718  31.912734
2022  11.064683  -7.919228  34.695280
2023  10.773193 -12.521773  35.581697
2024  10.599748 -14.506039  32.870377